<h1>Us3r's H0m3</h1>

<h3>Welcome <%=@user.name%></h3>


<a href="/players/new"> Create New Player </a>
<br>
<a href="/players">View All Players</a>
<br>
<br>
<a href="/matches/new">Create New Match</a>
<br>
<a href="/matches">View All Matches</a>
