<h1>Welcome, Playa!</h1>
<p>Go ahead and gimme ur deets...</p>

<form method="POST" action="/players">
  <p> Player name: <input type='text' name="name"></p>
  <p> Age: <input type='text' name="age"></p>
  <p> Favorite Game: <input type='text' name='favorite_game'></p>
  <p> Victory Phrase: <input type='text' name="win_phrase"></p>
  <p> Losing Phrase: <input type='text' name="lose_phrase"></p>
  <p> Motto: <input type='text' name='motto'></p>

  <input type='submit' value="Let's Play!">
  </form>
