<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
  </head>
  <body>

    <h3>We've hit a snag...</h3>

<iframe src="https://giphy.com/embed/l9jiNVVkdsG4M" width="480" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/l9jiNVVkdsG4M"</a></p>

    <a href="/sessions/login">Log In</a>
    <br>
    <a href="/">Menu</a>


  </body>
</html>
