<h1>You board, bro?</h1>

<form action="/registrations/signup" method="get">
  <input type="submit" id="submit" value="Sign Up">
</form>

<form action="/sessions/login" method="get">
  <input type="submit" id="submit" value="Log In">
</form>

<br>
<br>
<a href="/players">View All Players</a>
<br>
<a href="/matches">View All Matches</a>
