<h1>You board, bro?</h1>

<a href="/players/new">Sign Up</a>
<br>
<a href="/sessions/login">Log In</a>
<br>
<br>
<a href="/players">View All Players</a>
<br>
<a href="/matches">View All Matches</a>
