<h1>You board, bro?</h1>

<a href="/players/new"> Create New Player </a>
<br>
<a href="/players">View All Players</a>
<br>
<br>
<a href="/matches/new">Create New Match</a>
<br>
<a href="/matches">View All Matches</a>
